* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
/* -------------------- NAVIGATION -------------------- */
nav.desktop-nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 270px;
    background-color: rgba(0, 62, 250, 0.86);
    z-index: 1000;
    overflow: hidden;
}
nav.desktop-nav ul {
    padding-top: 50px;
    margin: 0;
    list-style: none;
}
nav.desktop-nav ul li {
    padding: 20px 1rem;
    transition: border-color 0.3s, color 0.3s, font-weight 0.3s;
    border-left: 5px solid transparent;
}
nav.desktop-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: bold;
    border-left-color: white; /* Border-Farbe ändert sich beim Hover */
}
nav.desktop-nav ul a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
nav.desktop-nav ul img {
    height: 250px;
    width: auto;
    margin: 0 auto;
}
/* MOBILE NAV */
nav.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 62, 250, 0.6);
    font-size: 1rem; /* Anpassung der Schriftgröße */
    line-height: 2; /* Anpassung der Zeilenhöhe */
    font-weight: 500;
    z-index: 1001;
}

nav.mobile-nav ul {
    display: none;
    list-style: none;
    padding-top: 50px;
}

nav.mobile-nav ul.collapsed {
    display: block;
}

nav.mobile-nav ul li {
    padding: 10px 0;
    text-align: center;
    transition: background-color 0.2s;
    font-weight: normal;
    transition: font-weight 0.3s;
}

nav.mobile-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold; /* Anpassung der Schriftstärke beim Hover */
}

nav.mobile-nav ul a {
    color: white;
    text-decoration: none;
}
#menuBtn {
    display: none;
    position: absolute;
    left: 50%;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: invert(100%);
    transition: transform 0.4s;
    z-index: 1002; /* Ensure menu button is above other elements */
    margin-left: -20px; /* Die Hälfte der Breite des Buttons */
}
/* -------------------- HOME-SECTION -------------------- */
#home {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
        30deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)),
        url(images/stahlgerüst-konstruktionsbau.webp);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.spreader {
    display: grid;
    grid-template-columns: 3fr 3.7fr;
    padding-top: 18rem;
}
.main-title {
    padding: 0 4rem 2rem 2rem;
}
.rest-h1 {
    font-family: "Montserrat-Alt1";
    text-align: center;
    padding: 3rem 0;
    font-size: 4.5rem;
}
.h1_1 {
    font-family: "Montserrat-Alt1";
    text-align: left;
    color: white;
    font-size: 5.5rem;
}
h2 {
    color: white;
    font-weight: 400;
    padding-top: 1rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}
h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    font-weight: 500;
}
.main-title > a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.7rem 1.2rem;
    width: 250px;
    margin: 0 auto;
    transition: 0.2s;
}
.main-title > a:hover {
    color: black;
    background-color: white;
    font-weight: 700;
}
/* -------------------- DIENSTLEISTUNGEN -------------------- */
#dienstleistungen {
    min-height: 100svh;
    width: 100%;
    background: linear-gradient(
        30deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)),
        url(images/glas-fassadenfront-architektur.webp);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.right-container {
    margin-left: 270px;
    flex: 1;
}
.right-container a {
    text-decoration: none;
    color: black;
}
.top-container {
    width: 100%;
    background-color: #c7c7c7;
}
.first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0 0.5rem 0;
    max-width: 1300px;
    margin: 0 auto;
}
.asset-out {
    padding: 2rem 0;
}
.asset {
    height: 180px;
    width: 180px;
    background-color: #b4b4b4;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.asset:hover {
    background-color: #777777;
}
.asset:hover img {
    transform: scale(1.06);
    filter: invert(100%);
}
.asset img {
    height: 90px;
    width: auto;
    filter: invert(100%);    
    transition: transform 0.4s ease, filter 0.4s ease;
}
.asset2 img {
    height: 180px;
    width: 180px;
    border-radius: 25px;
    filter: saturate(1.0);
    transition: filter 0.3s ease;
}
.asset2 img:hover {
    filter: saturate(0);
}
.second-row {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
}
.mini-h3 {
    font-family: "Montserrat-Alt1";
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    font-weight: 700;
}
.newpic {
    height: 24rem;
    width: auto;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: filter 0.25s ease, box-shadow 0.25s ease; /* Transition für Filter und box-shadow */
    cursor: pointer;
    display: block;
}
.newpic:hover {
    filter: grayscale(0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Hinzufügen eines box-shadow-Effekts bei Hover */
}
.third-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0 0.5rem 0;
    max-width: 1300px;
    margin: 0 auto;
}
.first-row1 {
    display: flex;
    justify-content: center;
}
.third-row .asset-out:nth-child(n+5) .newpic {
    cursor: default;
}

/* -------------------- SERVICE -------------------- */
.container {
    margin: 0;
}
.container img {
    width: 50px;
    height: auto;
    display: block;
    margin: 1rem auto 1rem auto;
}
.container h3 {
    font-weight: 600;
    margin: 0.5rem 0;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: left;
    padding: 2rem;
    background-color: #e4e4e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.beratung .mini-h3, .massaufnahme .mini-h3, .planung .mini-h3, .projektleitung .mini-h3 {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    margin-top: -6rem; /* Negative margin to overlay on the background */
    z-index: 1;
}
.service-grid div {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Leicht transparenter weißer Hintergrund */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.pmiddle {
    text-align: center;
    font-weight: 600;
}
#beratung, #massaufnahme, #planung, #projektleitung, #DreiD_druck {
    color: #fff;
    padding-top: 6rem; /* Platz für den fixierten Titel */
    position: relative; /* Für das z-index-Management */
}
#beratung {
    background: linear-gradient(rgba(0, 22, 87, 0.66), rgba(0, 22, 87, 0.66)), url('images/beratung-konstruktionsplanung.webp') center/cover fixed;
}
#massaufnahme {
    background: linear-gradient(rgba(0, 22, 87, 0.66), rgba(0, 22, 87, 0.66)), url('images/massaufnahme-für-metallbauobjekt.webp') center/cover fixed;
}
#planung {
    background: linear-gradient(rgba(0, 22, 87, 0.66), rgba(0, 22, 87, 0.66)), url('images/konstrukteur-zeichnet-pläne-2d-3d.webp') center/cover fixed;
}
#projektleitung {
    background: linear-gradient(rgba(0, 22, 87, 0.66), rgba(0, 22, 87, 0.66)), url('images/projektleiter-blickt-auf-konstruktions-pläne.webp') center/cover fixed;
}
#DreiD_druck {
    background: linear-gradient(rgba(0, 22, 87, 0.66), rgba(0, 22, 87, 0.66)), url('images/3d-drucker-modelldruck.webp') center/cover fixed;
}
#beratung img, #massaufnahme img, #planung img, #projektleitung img, #DreiD_druck img {
    filter: invert(100%);
    max-width: 100%;
    border-radius: 8px;
    padding-bottom: 4rem;
}
.service-grid h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}
.service-grid p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}
/* -------------------- REFERENZEN -------------------- */
.salü-top {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    justify-content: space-around;
    padding: 3rem 0 1rem 0;
}
.ref-pic {
    display: flex;
    margin: 0 auto 0rem auto;
    width: 7rem;
    height: auto;
}
.referenz {
    max-width: 380px;
    overflow: hidden;
    margin: 0 auto;
}
.referenz img {
    width: 100%;
    transition: transform 0.4s ease;
    filter: saturate(1.0);
}
.referenz:hover img {
    transform: scale(1.035);
    filter: saturate(0);
}
.referenz:hover .referenz-bio {
    background-color: #868686;
}
.referenz-bio {
    padding: 0.8rem 0.5rem;
    background-color: #b4b4b4;
    transition: 0.4s, filter 0.7s ease;
}
/* REFERENZ EINZEL */
.hiden-h3 {
    display: none;
    margin-bottom: 1rem;
}
.right-bottom {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.right-bottom img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
}
.right-bottom img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    width: 70rem;
}
figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}
figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-color: rgba(0, 62, 250, 0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(1.8);
    transition: opacity 200ms;
}
figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms, transform 400ms;
}
a:is(:hover, :focus) figure::after {
    opacity: 1;
}
a:is(:hover, :focus) figcaption {
    opacity: 1;
    transition: opacity 600ms;
}
@media (prefers-reduced-motion: no-preference) {
    figcaption {
        transform: translate3d(0, 2rem, 0);
    }
    figure::after {
        border-radius: 50%;
        opacity: 1;
        transform: scale(0);
        transition: transform 900ms;
    }
    .right-bottom a:is(:hover, :focus) figure::after {
        transform: scale(2.2);
    }
    .right-bottom a:is(:hover, :focus) figcaption {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 400ms 400ms, transform 400ms 400ms;
    }
    .right-bottom a:is(:hover, :focus) img {
        transform: scale(1.1);
    }
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    display: flex; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
}
.modal-content {
    width: 90%; /* Adjusted */
    max-width: 800px; /* Adjusted */
    transition: transform 0.5s ease;
    transform: scale(0.7);
}
.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}
.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modal .prev,
.modal .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.6s;
    user-select: none;
}
.modal .prev {
    left: 0;
}
.modal .next {
    right: 0;
}
.modal .prev:hover,
.modal .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.modal.show {
    display: flex; /* Changed from block to flex */
    opacity: 1;
    visibility: visible;
}
.modal.show .modal-content {
    transform: scale(1);
}
/* -------------------- ÜBER MICH -------------------- */
.flex-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}
.lebenslauf {
    text-align: center;
    align-items: center;
    padding-top: 2rem;
}
.lebenslauf h3 {
    padding-top: 1rem;
}
.lebenslauf p {
    padding-top: 0.4rem;
}
.strich {
    height: 45px;
    width: 2px;
    background-color: #494949;
    margin: 1rem auto 1rem auto;
}
.profil {
    text-align: center;
}
.profil-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.profil img {
    width: 25rem;
    height: auto;
    border-radius: 25px;
}
.link-icon {
    width: 4rem;
    height: 4rem;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-icon:hover img {
    transform: scale(1.1);
}
.link-icon img {
    filter: invert(100%);
    width: 2.2rem;
    height: auto;
    transition: transform 0.3s ease;
}
/* -------------------- KONTAKT -------------------- */
.greyer {
    background-color: #c7c7c7;
}
.top-map {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.top-map h3 {
    text-align: left;
}
.top-map iframe {
    height: 13rem;
    width: 40rem;
    border-radius: 11px;
    margin-bottom: 1rem;
}
.contact-form {
    max-width: 1000px;
    margin: 2rem auto 2rem auto;
    padding: 2rem 2rem 2rem 0.5rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form h1 {
    text-align: left;
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 3px;
    outline: none;
    font-family: Raleway;
    font-size: 1.1rem;
    row-gap: 1rem;
}
.contact-form textarea {
    height: 6rem;
    resize: none;
    border: 1px solid #ccc;
}
.contact-form .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-form .checkbox-container input {
    margin-right: 10px;
}
.contact-form button {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 62, 250, 1.0);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: rgba(0, 44, 177, 1.0);
}
label p {
    font-weight: 500;
}
.checkbox-container a {
    text-decoration: underline;
}
/* -------------------- IMPRESSUM -------------------- */
.trenner {
    padding: 0.2rem 0;
}
.containers {
    padding: 1.5rem;
}
/* -------------------- FOOTER -------------------- */
footer {
    background-color: #202020; 
    color: white;
    text-align: center;
    padding: 1rem;
}
footer p, footer .links, footer .icons {
    margin-left: 270px;
    flex: 1;
}
.icons, .links {
    cursor: pointer;
}
.icons {
    display: flex;
    justify-content: center;
}
.icons img {
    width: 40px;
    height: auto;
    filter: invert(100%);
    margin: 1rem 2rem;
    transition: transform ease 0.3s;
}
.icons img:hover {
    transform: scale(1.05);
}
footer a {
    color: white;
    text-decoration: none;
}
footer .links a {
    padding: 0 2rem;
    text-decoration: underline;
}
.zeiler {
    padding: 0.22rem;
}
/* -------------------- MEDIA QUERYS -------------------- */
@media screen and (max-width: 1300px) {
    .third-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .third-row .asset-out img {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1250px) {
    .second-row {
        padding: 3rem 1rem 3rem 3rem;
    }
    .projekt {
        margin-left: -2rem;
    }
}
@media screen and (max-width: 1100px) {
    .second-row {
        display: block;
    }
    .salü {
        margin: -1rem 0 3rem 0;
    }
    .referenz {
        margin: 0 auto;
        padding-bottom: 2rem;
        max-width: 500px;
    }
    .service-grid {
        display: block;
    }
    .service-grid div {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    nav.desktop-nav {
        display: none; /* Hide desktop nav at smaller screens */
    }

    nav.mobile-nav {
        display: block; /* Show mobile nav at smaller screens */
        position: fixed;
    }

    #menuBtn {
        display: block; /* Show menu button at smaller screens */
        position: fixed;
        transition: transform 0.4s; /* Add transition for menu button */
    }

    #menuBtn.clicked {
        transform: rotate(180deg); /* Rotate menu button when clicked */
    }

    nav.mobile-nav ul {
        padding-top: 0; /* Adjust padding-top for mobile nav */
    }

    nav.mobile-nav ul.collapsed {
        padding-top: 50px; /* Adjust padding-top for collapsed mobile nav */
    }
    .main-title > a {
        background-color: rgba(0, 0, 0, 0.6);
        margin: 0 auto;
    }

    .right-container, footer p, footer .links, footer .icons {
        margin-left: 0;
    }
    .spreader {
        display: block;
        padding-top: 7rem;
        margin: 0 auto;
    }
    .main-title {
        text-align: center;    
        padding: 0;
    }
    .h1_1 {
        font-size: 3.9rem;
        text-align: center;
    }
    .main-title > h2 {
        font-weight: 600;
        text-shadow: 2px 2px 1px black; /* X-Offset, Y-Offset, Blur-Radius, Shadow-Color */
    }
    .rest-h1 {
        text-align: center;
        font-size: 3rem;
        padding-top: 4rem;
    }
    .first-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .asset-out {
        padding-bottom: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        padding: 2rem 0;
    }
    .mini-h3 {
        font-size: 2.2rem;
    }
    .lebenslauf {
        order: 2;
    }
    .profil {
        order: 1;
    }
    .top-map {
        display: block;
        padding: 1.3rem 2rem 0 2rem;
    }
    .top-map > h3 {
        text-align: center;
    }
    .top-map iframe {
        height: 13rem;
        width: 100%;
        padding: 1rem 0;
    }
}
@media screen and (max-width: 647px) {
    .hiden-h3 {
        display: block;
        margin: 2rem 0 1rem 0;
    }
}
@media screen and (max-width: 550px) {
    .rest-h1 {
        font-size: 2.3rem;
    }
    .profil-pic {
        transform: scale(0.9);
        position: relative;
        z-index: -3;
    }
    .projekt {
        display: block;
    }
    .second-row {
        margin-left: -2rem;
    }
    .third-row {
        display: block;
    }
}
@media screen and (max-width: 400px) {
    .rest-h1, .mini-h3 {
        font-size: 2rem;
    }
    .first-row {
        display: block;
        margin: 0 auto;
        padding: 2rem;
    }
    .profil-pic {
        transform: scale(0.75);
        margin-bottom: -2rem;
    }
}
